
.umbn-section.facilitation-section {
  max-width: 100%;
}
header .umbn-section {
  padding-left: 10px;
}

header {
  background-image: url(/assets/laughing.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
}
@media (max-width: 992px) {
  header {
    background-position: 0% 15%;
    min-height: 300px;
  }
}
@media (max-width: 480px) {
  header {
    background-position: 0% 15% !important;
    min-height: 150px !important;
  }
}


.image-section {
  display: flex;
  margin: 60px 0;
}
.image-section h2 {
  margin-top: 0;
}
.image-section_text {
  width: 50%;
}
.image-section_text:nth-of-type(1) {
  padding-right: 30px;
}
.image-section_text:nth-of-type(2) {
  padding-left: 30px;
}
.image-section_image {
  width: 50%;
}
.image-section_image img {
  width: 100%;
}

@media (max-width: 768px) {
  .image-section {
    flex-direction: column;
  }
  .image-section h2 {
    margin-top: 1em;
  }
  .image-section > div {
    width: 100%;
  }
  .image-section_text:nth-of-type(1) {
    padding-right: 0;
  }
  .image-section_text:nth-of-type(2) {
    padding-left: 0;
  }
}
