/* Resets and browser-specific */
*, *:before, *:after {
    box-sizing: inherit;
}

textarea, select, input, button {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #004787 inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* Avoid Chrome autofill styles */
/* input:-webkit-autofill, input:-webkit-autofill:focus {
   transition: background-color 0s 600000s, color 0s 600000s;
 } */
